flair
gensim
gym
jupyter
matplotlib
numpy
pandas
pip-review
pymc3
pyro-ppl
requests
scikit-image
scipy
seaborn
spacy
torch
torchfile
torchsummary
torchtext
torchvision
tqdm
xgboost
jupyterlab
stanza
captum
tensorwatch
altair
vega_datasets
nni
numpyro
scikit-learn==0.21.3
hyperopt==0.1.2